*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    display: grid;
    place-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    width: 100%;
    margin-top: 5em;
}

.result{
    background-color: hsl(241, 81%, 54%);
    height: 25rem;
    border: 1px solid hsl(252, 100%, 67%);
    border-radius: 25px;
    text-align: center;
    padding: 25px 46px;
}
.result h1{
    color: hsl(241, 100%, 89%);
    font-size: 20px;
}
.result .circle{
    background-color: hsla(256, 72%, 46%, 1);
    margin: 30px auto;
    padding: 35px;
    max-width: 80%;
    border-radius: 50%;
}
.circle p{
    font-size: 60px;
    color: hsl(0, 0%, 100%);
}
.circle p>span{
    font-size: 15px;
    color: hsl(252, 100%, 67%);
    display: block;
}
.result h2{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    margin: 10px auto;
}
.result :nth-child(4){
    line-height: 20px;
    color: hsl(241, 100%, 89%);
}

.summary{
    background-color: hsl(0, 0%, 100%);
    height: 25rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 25px 30px;
    box-shadow: 12px 5px 18px -3px rgba(0, 0, 0, 0.1);
}
.summary h1{
    color: hsl(224, 30%, 27%);
    font-size: 20px;
    margin-bottom: 20px;
}
.reaction{
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 100%, 97%);
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 10px;
}
.img-reaction{
    display: flex;
    padding-left: 10px;
}
.img-reaction p{
    color:  hsl(0, 100%, 67%);
    padding: 0 7px;
    font-weight: 700;
}
.reaction>p{
    padding-right: 15px;
    font-weight: 700;
}
.reaction>p span{
    font-weight: 500;
}
.memory{
    display: flex;
    justify-content: space-between;
    background-color: hsla(43, 100%, 97%);
    padding: 10px 0;
    margin: 15px auto;
    border-radius: 10px;
}
.img-memory{
    display: flex;
    padding-left: 10px;
}
.img-memory p{
    color:  hsl(39, 100%, 56%);
    padding: 0 7px;
    font-weight: 700;
}
.memory>p{
    padding-right: 15px;
    font-weight: 700;
}
.memory>p span{
    font-weight: 500;
}
.verbal{
    display: flex;
    justify-content: space-between;
    background-color: hsla(166, 100%, 97%);
    padding: 10px 0;
    margin: 15px auto;
    border-radius: 10px;
}
.img-verbal{
    display: flex;
    padding-left: 10px;
}
.img-verbal p{
    color:  hsl(166, 100%, 37%);
    padding: 0 7px;
    font-weight: 700;
}
.verbal>p{
    padding-right: 15px;
    font-weight: 700;
}
.verbal>p span{
    font-weight: 500;
}
.visual{
    display: flex;
    justify-content: space-between;
    background-color: hsla(232, 100%, 97%);
    padding: 10px 0;
    margin: 15px auto;
    border-radius: 10px;
}
.img-visual{
    display: flex;
    padding-left: 10px;
}
.img-visual p{
    color:  hsl(234, 85%, 45%);
    padding: 0 7px;
    font-weight: 700;
}
.visual>p{
    padding-right: 15px;
    font-weight: 700;
}
.visual>p span{
    font-weight: 500;
}
.button{
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 45px;
    border: 1px solid hsl(224, 30%, 27%);
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background-color: hsl(241, 81%, 54%);
    border: 1px solid hsl(241, 81%, 54%);
}

.user{
    background-color: hsl(0, 0%, 100%);
    margin-top: 20px;
    margin-right: 10px;
    padding: 12px 23px;
    border: 1px solid hsl(224, 30%, 27%);
    border-radius: 25px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 40px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Responsive Design */
@media screen and (max-width: 500px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 300px;
    }
    .result{
        height: 20rem;
        padding: 25px;
    }
    .circle p{
        font-size: 40px;
    }
    .result .circle{
        margin: 13px auto;
        padding: 15px;
        max-width: 40%;
    }
}